@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

* {
  margin: 0;
  box-sizing: 0;
  background-color: #0a1c32;
}

.header {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
}

h1 {
  font-family: "Parisienne", cursive;
  font-size: 4rem;
  color: #3fbdde;
  width: 17.5rem;
  text-align: center;
}
